<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://i.stack.imgur.com/y9DpT.jpg"
      cardTitle="SAIU A NOVA VERSÃO DO ANGULAR"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Saiu a nova versão do Angular"
      photoCover="https://i.stack.imgur.com/y9DpT.jpg"
    ></app-small-card>
    <app-small-card
      cardTitle="Saiu a nova versão do Angular"
      photoCover="https://i.stack.imgur.com/y9DpT.jpg"
    ></app-small-card>
    <app-small-card
      cardTitle="Saiu a nova versão do Angular"
      photoCover="https://i.stack.imgur.com/y9DpT.jpg"
    ></app-small-card>
  </div>
</div>
